.boton{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 24px 32px;   
    border: none;
    color: #fff;
    margin: 32px 0;
    cursor: pointer;
    font-size: 20px;

}
.boton:hover{
    color: #95FFD4;
   
}

@media screen and (max-width: 400px){
    .boton{
        font-size: 18px;
        width: 100%;
    }
}